<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Selenium TestNG XML FILE --> 
<suite name="Suite">

	 <test name="Top Level Categories Test">
		<classes>
			<class name="com.selenium.ebiz.browsing_and_navigation.old_navigation.TopLevelCategorieseSpot" />
		</classes>
	</test>
</suite>
 
 
 
